header{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 16px;
    position: fixed;
    width: 100%;
    z-index: 10;

    border-bottom: 1px solid black;
}

header img{
    width: 150px;
}

body{
    margin: 0;
    padding: 0;
}


main{
    padding-top: 120px;
}

.card2{
    width: 100%;
    border: 1px solid black;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}

.card2 img{
    width: 100%;
    text-align: center;
}


.row{
    display: flex;
    gap: 20px;
}

footer{
    width: 100%;
    background-color: black;
    text-align: center;
    color: red;
    padding: 16px;
}

.sticker{
    width: 200px;
    position:absolute; 
    z-index: 9;
    right: 10px;
    top: 2px;

}

.sticker2{
    width: 200px;
    position:absolute; 
    z-index: 8;
    top: 550px;
    right: 350px;
}

@media screen and (max-width: 767px) {
    .row {
       display: block;
    }   
   }

   .menu ul{
    list-style-type: none;
    padding: 0;
    }
    
    .menu ul li{
        display: inline;
        margin: 0 20px;
        position: relative;
    }
    
    .menu ul li a{
        text-decoration: none;
        color: red;
    }
    
    .menu ul li .posts-list{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        padding: 10px 20px;
        width: 90px;
    }
    
    .menu ul li:hover .posts-list{
    display: block;
    }
    
    .menu ul li .posts-list ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    }
    
    .menu ul li .posts-list ul li{
        margin: 5px 0;
    }
    
    .menu ul li .posts-list ul li a{
        color: red;
        text-decoration: none;
    }